.login-wrapper {
  width: 25%;
}
.login {
  height: calc(100vh - 58px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title > h2 {
  font-size: 3rem;
  font-weight: 600;
}
.login > a {
  text-decoration: none;
}
.login > a:hover > span {
  color: var(--gray-100);
}

.login > a > span {
  font-weight: var(--medium);
  font-size: var(--s-small);
  color: var(--gray-500);
  justify-self: center;
  transition: all 200ms ease-in-out;
}

@media only screen and (max-width: 1220px) {
  .login-wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 780px) {
  .login-wrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 420px) {
  .login-wrapper {
    width: 100%;
  }
}
