.tasklist {
  width: 65%;
  margin-inline: auto;
  max-height: 60%;
  height: 60%;
  overflow: auto;
  padding-inline: 10px;
}
.tasklist:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

::-webkit-scrollbar {
  width: 10px;
}
.list-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: var(--gray-500);
  border-radius: 10px;
  width: 5px;
  transition: all 200ms ease-in-out;
}

@media only screen and (max-width: 992px) {
  .tasklist {
    width: 100%;
  }
}
